<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>


  <% resource.class.invite_key_fields.each do |field| -%>

    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :cnic %>
      <%= f.text_field :cnic %>
    </div>

    <div class="field">
      <%= f.label :constituency_id %>
      <%= f.select :constituency_id, options_for_select(Constituency.all.pluck(:id)), {prompt: "Select Constituency ID"} %>
    </div>

    <div class="field">
      <%= f.label :constituency_name %>
      <%= f.select :constituency_name, options_for_select(Constituency.all.pluck(:name)), {prompt: "Select corresponding constituency name"} %>
    </div>

    <div class="field">
      <%= f.label :user_status %>
      <%= f.select :user_status, options_for_select(["voter"]), {prompt: "Select Status"} %>
    </div>


  <% end -%>


  <div class="actions">
    <%= f.submit t("devise.invitations.new.submit_button") %>
  </div>
<% end %>
